.login{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-dev{
    height: 600px;
    width: 350px;
    border: 1px solid none;
    border-radius: 4px;
    background-color: rgba(245, 242, 247, 0.842);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-hd{
    text-align: center;
    color: rgb(187, 108, 6);
    font-size: 30px;
    margin: 25px auto 25px  auto;
}
.login-form{
    text-align: center;
}
.login-input{
    width: 250px;
    height: 40px;
    background:none;
    border-radius: 4px;
    border: 1px solid rgb(191, 95, 255);
    font-size: 16px;
    color: rgb(80, 47, 3);
    font-weight: 600;
    margin: auto auto 15px auto;
}
.input-submit:hover{
    cursor: pointer;
    color: rgb(236, 130, 0);
    background: rgba(139, 0, 231, 0.712);
    border: none;
}
.forgot-btn{
    text-align: center;
    color:rgb(168, 5, 5);
    font-weight: 600;
    margin-top: 3px;
}
.forgot-btn:hover{
    cursor: pointer;
    color:rgb(255, 67, 67);
}
.login-or {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-or hr{
    width: 40%;
}
.user{
    color: rgb(175, 90, 5);
}
.user span{
    color: rgb(55, 0, 255);
    font-weight: bold;
}
.user span:hover{
    cursor: pointer;
    color: rgb(255, 115, 0);
}

/*** --------------***/
.socialLogin{
    display: flex;
    justify-content: center;
}
.socialLogin img{
    margin: 0 20px;
}
.socialLogin img:hover{
    cursor: pointer;    
}
/*** --------------***/